name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true

    - name: Run tests
      run: cargo test --all

    - name: Run linter
      run: cargo clippy -- -D warnings

    - name: Run formatter check
      run: cargo fmt -- --check

    - name: Run cargo audit
      run: cargo audit

#    - name: Generate coverage report
#      run: cargo tarpaulin --out Xml

 #   - name: Upload coverage to Codecov
 #     uses: codecov/codecov-action@v1
 #     with:
 #       file: coverage.xml
